@font-face {
    font-family: minou_font;
    src: url(../fonts/Raleway_Thin.otf);
}

h1{
  font-family: minou_font;
  color: white;
  text-align:center
}

body{
  background-color: #FF5722;
  width:960px;
  margin:auto;
}

#logo {
  display: block;
  margin: auto;
  width: 128px;
  height: 115px;
}

#messages {
  border: 1px solid #006AB0;
  width: 600px;
  height: 600px;
  padding: 10px;
  margin: auto;
  background-color: white;
  overflow:hidden;
  overflow-y:scroll;
}

#input-box {
  width: 100%;
  height: 40px;
}

#input-form {
  margin:auto;
  padding: 10px;
  width:615px;
}

.image{
	width: 300px;
	height: 200px;
}